.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--dark-color);
}

.heroWrapper {
  width: 496px;
}
