.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.item {
  width: 360px;
  background: var(--white-color);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.infoWrapper {
  padding: 32px 16px;
}

.title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
