:root {
  --accent-color: #4d5ae5;
  --text-color: #434455;
  --dark-color: #2e2f42;
  --white-color: #ffffff;
  --pale-color: #e7e9fc;
  --pale-bg-color: #f4f4fd;
  --hover-color: #404bbf;
  --light-color: #8e8f99;
  --bright-color: #31d0aa;
  --modal-bg-color: #fcfcfc;

  --transition: 300ms color cubic-bezier(0.4, 0, 0.2, 1);
}
